# Dependencies
node_modules/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Raw Datasets
backend/dataset/raw/
backend/dataset/debug_tiles/
backend/dataset/test/
backend/dataset/tiles_augmented/
backend/dataset/train/
backend/dataset/val/


# Build
dist/
build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# EasyOCR Models (werden beim Docker-Build geladen)
*.pth
